@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*ont-family: "Roboto", sans-serif;*/
    font-family: "Open Sans", sans-serif;
    background-color: #eee;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 15px auto;
}
header h2 {
    font-size: 1.3rem;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #39abcd;
    text-decoration: none;
    font-size: 1rem;
}

.icono {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #39abcd;
}

.icono img {
    width: 40px;
}

main {
    height: 90vh;
}

.section_titulo {
    width: 90%;
    margin: auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_titulo h1 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #39abcd;
    font-family: "Nerko One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.subtitulo {
    font-size: 1.4rem;
    text-align: justify;
}

.botones {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section_titulo a {
    color: #fff;
    text-decoration: none;
    /*background-color: rgb(255, 251, 0);*/
    background-color: #39abcd;
    border-radius: 20px;
    padding: 15px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.letra_chica {
    margin-top: 20px;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

footer {
    width: 90%;
    margin: auto;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.redes_sociales {
    width: 30%;
    text-align: right;
}

.redes_sociales a {
    padding: 0px 0 0 20px;
    font-size: 1.7rem;
    color: #39abcd;
}