@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #eee;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 15px auto;
}
header h2 {
    font-size: 1.3rem;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #39abcd;
    text-decoration: none;
    font-size: 1rem;
}

.icono {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #39abcd;
    text-decoration: none;
}

.icono img {
    width: 40px;
}

main {
    height: 90vh;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    color: #39abcd;
    font-family: "Nerko One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.formulario {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    width: 45%;
}

/* From Uiverse.io by kamehame-ha */
.coolinput {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
}

.coolinput label.text {
    font-size: 0.8rem;
    color: #39abcd;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #eee;
    width: fit-content;
}

.coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #39abcd solid;
    border-radius: 5px;
    background: transparent;
    font-size: 0.85rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.coolinput input[type=text].input:focus {
    outline: none;
}

.coolinput input::placeholder {
    color: #39abcd;
}

.container label span:hover {
    background-color: #e5e5ec;
}


.nombre {
    margin-top: 0px;
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #39abcd solid;
    border-radius: 5px;
    background: transparent;
    font-size: 0.85rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.sec {
    color: #39abcd;
    font-weight: 700;
    position: relative;
    top: 9px;
    left: 7px;
    margin: 0 0 0 0px;
    padding: 0 3px;
    background: #eee;
    width: fit-content;
    color: #39abcd;
    font-size: 0.8rem;
}


footer {
    width: 90%;
    margin: auto;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.redes_sociales {
    width: 30%;
    text-align: right;
}

.redes_sociales a {
    padding: 0px 0 0 20px;
    font-size: 1.7rem;
    color: #39abcd;
}


/* From Uiverse.io by Pradeepsaranbishnoi */
.container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.container label input {
    position: absolute;
    left: -9999px;
}


.container label input:checked+span:before {
    box-shadow: inset 0 0 0 0.4375em #39abcd;
}

.container label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: #39abcd;
}


.container label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #39abcd;
}

/* From Uiverse.io by cssbuttons-io */
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #39abcd;
    background-color: transparent;
    border: 2px solid #39abcd;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(216, 216, 216, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #39abcd;
    box-shadow: 0px 15px 20px #39aacd54;
    color: #fff;
}



#other-input {
    display: none;
    margin-top: 10px;
}
#other-input input{
    width: 100%;
    height: 40px;
}